# Node modules
node_modules/

# Expo
.expo/
.expo-shared/

# Env
.env

# iOS
ios/Pods/
ios/build/

# Android
android/.gradle/
android/app/build/
android/build/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
